<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Medical Project</title>
</head>
<body>
	<nav class="navbar">
		<div class="navbar__logo">
			<h2>Home Page</h2>
		</div>
		<ul class="navbar__links">
			<li><a href="/about">About</a></li>
			<li><a href="/login">Sign in</a></li>
			<li><a href="/register">Sign up</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<!-- <ul class="navbar__links">
			<li><a href="/about">About</a></li>
			<li><a href="/query">Query</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul> -->
		<div class="burger">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
		</div>
	</nav>