<% include ./partials/header %>

	<div class="contact">
		<div class="contact__header">
			<h1 class="heading-1 mb-sm">Contact Page</h1>
			<p class="paragraph">Our team of customer care is ready to hear from you.</p>	
		</div>
		
		<div class="body">

		</div>
		<div class="contact__left">
			<h2 class="heading-2 mb-md">Reach out to us!</h2>
			<p class="mb-md">Got a question? Are you interested in partnering with us? Have some suggestions or just want to say hi? Contact us:</p>
			<form class="contact__left--form" method="POST" action="/contact">
				<input type="text" placeholder="firstname">
				<input type="text" placeholder="lastname">
				<input type="email" placeholder="email address">
				<input type="number" placeholder="phone no">
				<textarea placeholder="message"></textarea>
				<button class="btn-outline" type="submit">Submit</button>
			</form>
		</div>
	
		<div class="contact__right">
			<h2 class="heading-2">Customer Care</h2>
			<p class="contact__right--para">Not sure where to start? Need help? Get in touch with us:</p>
			<div class="contact__right--card">
				<img src="" alt="contact person 1">
				<div>
					<h4 class="heading-4">Ronaldinho</h4>
					<h3 class="heading-3">Customer Care</h3>
					<p>Toll free - +918838196063</p>
				</div>
	
			</div>
	
			<div class="contact__right--card">
				<img src="" alt="contact person 1">
				<div>
					<h4 class="heading-4">Ronaldo</h4>
					<h3 class="heading-3">Customer Care Lead</h3>
					<p>Toll free - +917280882314</p>
				</div>
			
			</div>
	
		</div>
	</div>

<% include ./partials/footer %>