<% include ./partials/header %>

<div class="container">
	<header class="header">
		<!-- <img class="header__image" src="/stylesheets/image/header.jpg" alt="Header"> -->
		header
	</header>
	
	<section class="news">
	news
	</section>
	
	<section class="feedback">
	feedback
	</section>
</div>

<% include ./partials/footer %>