*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #53483c;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 8vh 50vh repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  justify-items: center; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 100; }

.heading-1 {
  font-size: 6.5rem;
  color: #0886ad;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: rgba(92, 80, 67, 0.562); }

.heading-3 {
  font-size: 1.6rem;
  color: #0886ad;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2.5rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: rgba(92, 80, 67, 0.562); }

.btn {
  background-color: #0886ad;
  color: #fff;
  border: none;
  border-radius: 200px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #0b6575; }

.btn-outline {
  background-color: transparent;
  border: 1px solid #0886ad;
  color: #0886ad; }
  .btn-outline:hover {
    background-color: #0b6575;
    color: #fff; }

.link:link, .link:visited {
  width: 15rem;
  background-color: transparent;
  color: #10442f;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.3rem 2rem;
  border: 1px solid #53483c;
  text-decoration: none;
  text-align: center;
  transition: .2s; }
  @media only screen and (max-width: 50em) {
    .link:link, .link:visited {
      font-size: 1rem;
      padding: 1rem 1rem;
      width: 10rem; } }

.link:hover, .link:active {
  background-color: #10442f;
  color: #f9f7f6; }

.underline {
  line-height: .3rem;
  background-color: #e67e22;
  width: 7rem;
  grid-column: 1 / -1;
  grid-row: 2 / span 1; }

.title {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  align-self: center;
  text-align: center; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.navbar {
  grid-column: full-start / full-end;
  width: 100%;
  padding: 0 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #858282;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    justify-self: start;
    color: #f9f7f6;
    font-size: 3.5rem; }
  .navbar ul {
    list-style: none; }
  .navbar__links {
    display: flex;
    width: 30%;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .navbar__links {
        background-color: #858282;
        position: absolute;
        top: 8vh;
        left: 0;
        flex-direction: column;
        display: none;
        width: 100%; }
        .navbar__links li {
          padding: 3rem 6rem;
          border-bottom: 1px solid #a5a5a5; } }
    .navbar__links a:link, .navbar__links a:visited {
      text-decoration: none;
      color: #f9f7f6;
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: .1s; }
    .navbar__links a:hover, .navbar__links a:active {
      border-bottom: 0.1rem solid #0886ad; }

.burger {
  display: none; }
  @media only screen and (max-width: 62.5em) {
    .burger {
      display: block; } }

.burger div {
  width: 25px;
  height: 2px;
  background-color: #f9f7f6;
  margin: 5px; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 3rem;
  justify-items: center;
  padding: 5rem; }
  .contact__header {
    grid-column: 1 / -1;
    grid-row: 1 / span 1; }
  .contact__left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    padding: 6rem; }
    .contact__left--form {
      display: grid; }
      .contact__left--form > * {
        margin-bottom: 2rem;
        height: 3rem; }
      .contact__left--form textarea {
        height: 7rem; }
      .contact__left--form button {
        justify-self: right;
        width: 15rem; }
    .contact__left p {
      font-size: 2rem; }
  .contact__right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    display: grid;
    padding: 6rem; }
    .contact__right--card {
      display: grid;
      grid-template-columns: 30% 70%; }
    .contact__right p {
      font-size: 2rem; }
