<% include ../partials/header %>

	<div class="query">
		<div class="query__header">
			<form action="/query" method="GET">
				<div class="query__header--input">
					<input type="text" name="search" placeholder="search..." class="form-control">
					<!-- <input type="submit" value="Search" class="btn-outline"> -->
					<button class="btn-outline" type="submit">Search</button>
				</div>
			</form>
		</div>

		<div class="query__results">
			<div class="">
				<% if(noMatch !== null) { %>
					<h3><%= noMatch %></h3>
				<% } %>
			</div>
			<% medical.forEach(function(medical){ %>
				<div class="query__results--list">
					<h4 class="heading-4"><%= medical.organisation %></h6>
					<p class="paragraph"><%= medical.definition %></p>
					<a href="/query/<%= medical._id %>" class="btn-outline">More Info</a>
				</div>
			<% }); %>
		</div>
	</div>
	<p>
		
	</p>

<% include ../partials/footer %>