<% include ../partials/header %>

	<h1>Details Page</h1>
	<div>
		<h3><%= details.title %></h3>
		<p><%= details.author.firstname %></p>
		<p><%= details.author.lastname %></p>
	</div>
	<br>
	<hr>

<% include ../partials/footer %>