<% include ../partials/header %>

	<h1>This is the upload page</h1>

	<form method="POST" action="/upload">
		<div>
			<label for="title">Title</label>
			<input type="text" id="title" name="title" required>
		</div>
		<div>
			<label for="firstname">Firstname</label>
			<input type="text" id="firstname" name="firstname" required>
		</div>
		<div>
			<label for="lastname">Lastname</label>
			<input type="text" id="lastname" name="lastname" required>
		</div>
		<button type="submit">Submit</button>
	</form>

<% include ../partials/footer %>