<% include ../partials/header %>

<div class="login">
	<div class="login__container">
		<h1 class="heading-1">Register</h1>
		<p class="paragraph">Already have an account?<a href="/users/login"> Login</a></p>
		<form class="login__container--form" method="POST" action="/users/register">
			<input type="text" name="name" placeholder="Name" required>
			<input type="email" name="email" placeholder="Email" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="password" name="password2" placeholder="Confirm Password" required>
			<button class="btn-outline" type="submit">Sign up</button>
		</form>
	</div>
</div>

<% include ../partials/footer %>